header {
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;

    svg {
        position: absolute;
        top:0;
        z-index: -1;
    }
    .container {
        @include flexBox(center, space-around);
        z-index: 9999;
        padding: 20px 0;

        .logo_part {
            p {
                cursor: pointer;
                color: #fff;
                border-radius: 50%;
                border: 2px solid rgb(0, 0, 0);
                padding: 20px;
                box-shadow: 0 0 8px #393232;
            }
        }

        ul.navigation {
            @include flexBoxG(center, center, 20px);
            list-style: none;

            a {
                text-decoration: none;
                color: $textColor;
            }
        }

        .log_part {
            @include flexBoxG(center, space-around, 20px);


            button {
                padding: 8px 16px;
                color: #fff;
                background-color: #202020;
                box-shadow: 0 0 10px #323030;
                border-radius: 4px;
                transition: 0.5s;
            }
            button:hover {
                transition: 0.5s;
                transform: scale(1.1);
                box-shadow: 0 0 12px #464040;
            }
        }
    }
}

  