@mixin padding($position, $unit){
    padding-#{$position}: $unit +px;
}


@mixin flexBox($align, $justify) {
    display: flex;
    align-items: $align;
    justify-content: $justify; 
}
@mixin flexBoxG($align, $justify, $gap) {
    display: flex;
    align-items: $align;
    justify-content: $justify; 
    gap: $gap;
}

@mixin flexBoxD($align, $justify, $direction) {
    display: flex;
    flex-direction: $direction;
    align-items: $align;
    justify-content: $justify; 
}